/* Christian Stanton's styling */
.erics-section {
	text-align: center;
	background-color: rgba(141, 32, 34, 0.8);
	font-family: 'Slabo 27px', serif;
}

.erics-section h1 {
	margin: 0;
}

.erics-section p {
	color: rgba rgba(0, 0, 0, 1.0);
	font-size: 3em;
}

.erics-section img {
	height: 150px;
	width: 150px;
	-webkit-transition: ease 2s;
	transition: ease 2s;
}

.erics-section img:hover{
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}