/* Eric McDowell's styling */
.erics-section {
	text-align: center;
	background-color: rgba(255, 114, 33, 1.0);
	font-family: 'Slabo 27px', serif;
}

.erics-section h1 {
	margin: 0;
}

.erics-section p {
	color: rgba(0, 0, 0, 1.0);
	font-size: 2em;
}

.erics-section img {
	height: 250px;
	width: 250px;
	-webkit-transition: ease 2s;
	transition: ease 2s;
}

.erics-section img:hover{
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

<<<<<<< HEAD
.chriss-section {
  background-color: slategrey;
  color: white;
}

=======
/* Tyler Blake's styling */
.tylers-section {
	text-align: center;
	background-color: ghostwhite;
	font-family: 'Calibri', serif;
}
.tylers-section h1 {
	margin: 0;
}
.tylers-section p {
	font-size: 2em;
}
.tylers-section img {
	height: 250px;
	width: 250px;
	-webkit-transition: ease 2s;
	transition: ease 2s;
}
.tylers-section:hover {
-webkit-animation:rainbow 3s infinite;
-ms-animation:rainbow 3s infinite;
-o-animation:rainbow 3s infinite;
animation:rainbow 3s infinite;
}
@-webkit-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-ms-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@-o-keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
@keyframes rainbow {
0% {color: #ff0000;}
10% {color: #ff8000;}
20% {color: #ffff00;}
30% {color: #80ff00;}
40% {color: #00ff00;}
50% {color: #00ff80;}
60% {color: #00ffff;}
70% {color: #0080ff;}
80% {color: #0000ff;}
90% {color: #8000ff;}
100% {color: #ff0080;}
}
>>>>>>> master
